<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular Core App:@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/MDB-Free/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/MDB-Free/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-light">
        <header class="container">
            <div class="">
                <div class="navbar-brand">LK'Developers</div>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#men">&#9776;</button>
            </div>
            <menu id="men" class="collapse navbar-collapse">
                <ul>
                    <li><a asp-controller="App" asp-action="Index"><span class="fa fa-home"></span>Home</a></li>
                    <li><a asp-controller="App" asp-action="About"><span class="fa fa-user"></span>About</a></li>
                    <li><a asp-controller="App" asp-action="Contact"><span class="fa fa-home"></span>Contact us</a></li>
                </ul>
            </menu>
        </header>
    </div>
    <section class="container">
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">@DateTime.Now &copy;CopyRight Developers Team</div>
    </footer>
    <!-- JQuery -->
    <script type="text/javascript" src="~/MDB-Free/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/MDB-Free/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/MDB-Free/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/MDB-Free/js/mdb.min.js"></script>
    <script src="~/js/ProjectScript.js"></script>
</body>
</html>
