
@model Contact
@{
    ViewBag.Title = "Contact us";
}
<div class="text-center text-success text-capitalize">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-lg-6 offset-3 mt-3">
        <div class="jumbotron">
            <h2 class="text-center text-secondary">Contact us</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="md-form">
                    <input type="text" asp-for="Name" class="form-control">
                    <label asp-for="Name">Your Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input type="email" asp-for="Email" class="form-control">
                    <label asp-for="Email">Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input type="text" asp-for="Subject" class="form-control" />
                    <label asp-for="Subject">Subject</label>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input type="number" asp-for="Phone" class="form-control">
                    <label asp-for="Phone">Phone No</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <textarea rows="5" asp-for="Message" class="md-textarea"></textarea>
                    <label asp-for="Message">Message</label><br />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
