

@{
    @ViewBag.Title= "Contact us";

}
<form method="post">
    <div>
        <label for="exampleInputEmail">Your Name</label><br />
        <input type="email" id="exampleInputEmail" name="name" placeholder="Enter email">
    </div>
    <div>
        <label for="exampleInputEmail">Email address</label><br />
        <input type="email" id="exampleInputEmail" name="email" placeholder="Enter email">
    </div>
    <div>
        <label for="exampleInputEmail">Subject</label><br />
        <input type="text" id="exampleInputEmail" name="subject" placeholder="Enter Subject">
    </div>
    <div>
        <label for="exampleInputEmail">Phone No</label><br />
        <input type="email" id="exampleInputEmail" name="phone" placeholder="Enter Phone No">
    </div>
    <div>
        <label for="exampleInputEmail">Message</label><br />
        <textarea rows="5" id="exampleInputEmail" name="message"></textarea>
    </div><br />
    <button type="submit" class="btn btn-default">Submit</button>
</form>
