@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Product>
<link href="~/css/styles.css" rel="stylesheet" />
<h1>Model Count</h1>
<p>Count : @Model.Count() </p>
<div class="row">
    @foreach (var v in Model)
    {

        <div class="col-lg-3 col-md-4 col-sm-6 product-card">
            <img src="~/Img/Img/@(v.ArtId).jpg" class="img-thumbnail" alt="@v.Title" />
            <h4 class="text-center ">@v.Category - @v.Size</h4>
            <ul class="product-info">
                <li>Title:@v.Title</li>
                <li>Price:@v.Price</li>
                <li>Artist:@v.Artist</li>
                <li>Description:@v.ArtDescription</li>
            </ul>
            <button type="button" class="btn btn-success" id="buybtn">Buy</button>
        </div>


    }
</div>
