body {
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

.product-info {
    list-style-type: none;
    font-size: small;
}

.product-card {
    padding: 2px;
    display: inline-block;
}

    .product-card:hover {
        border: 2px solid #a52a2a;
        display: inline-block;
        border-radius: 5px;
    }

    .product-card img {
        width: 250px;
        height: 170px;
        align-self: center;
        border: 2px solid #a52a2a;
        padding: 1px;
    }
